Repository aineko-dev/aineko-plugins: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, poetry-check

.pre-commit-config.yaml:

# Only run on commit.
default_stages: [commit]
# Stop running hooks after the first failure.
fail_fast: true

# Source for the hooks. Used by pre-commit to install the hooks.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      # Trim trailing whitespace.
      - id: trailing-whitespace
      # Ensures that a file is either empty, or ends with one newline.
      - id: end-of-file-fixer
      # Protect specific branches from direct commits.
      # - id: no-commit-to-branch
      #   args: [--branch, develop, --branch, production]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      # Use black to format the code.
      - id: black
        files: \.py$
        args: [--config, pyproject.toml]
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      # Use isort for sorting imports.
      - id: isort
        additional_dependencies: ["toml"]
        files: \.py$
  - repo: https://github.com/google/yamlfmt
    # Format yaml files if needed.
    rev: v0.9.0
    hooks:
      - id: yamlfmt
        args: [
          "-formatter",
          "retain_line_breaks=true",
          "-formatter",
          "max_line_length=80",
          "-formatter",
          "scan_folded_as_literal=true", # !yamlfmt!:ignore
        ]
        files: \.(yml|yaml)$
  - repo: local
    hooks:
      - id: check-license
        name: Check License Snippet
        entry: python .internals/check_license.py
        language: python
        files: \.(py|yml|yaml)$
        exclude: .pre-commit-config.yaml|yamllint.yaml
        args: ["--fix"]

      - id: poetry-check
        name: Poetry check
        description: Validates the content of the pyproject.toml file and its consistency
          with the poetry.lock file.
        entry: poetry check
        language: system
        pass_filenames: false
        files: pyproject.toml

chore: add test dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

refactor: turn class into an async context manager
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

doc: document entry/exit point
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

refactor: execute_query method to optimally use the connection pool
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

chore: add postgres & boto dependencies
  datasets/aineko-plugins-datasets-postgres/pyproject.toml
  poetry.lock
  pyproject.toml
Due: poetry-check

feat: properly implement read method
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

fix: update missing parts after rebase
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

doc: add mkdocs entry and update docstrings
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/__init__.py
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
  docs/datasets/postgres.md
  mkdocs.yml
Due: check-license

refactor: exists() method to use execute_query
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

chore: remove unused import
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

tests: create repeatable tests with a dockerized db
  datasets/aineko-plugins-datasets-postgres/tests/conftest.py
  datasets/aineko-plugins-datasets-postgres/tests/test_postgres.py
Due: check-license

feat: properly implement write method
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

chore: install plugin as editable
  poetry.lock
  pyproject.toml
Due: poetry-check

tests: update test cases
  datasets/aineko-plugins-datasets-postgres/tests/postgres.py
Due: check-license

chore: rename test file for pytest
  datasets/aineko-plugins-datasets-postgres/tests/test_postgres.py
Due: check-license

refactor: properly type hint exists method
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

refactor: simplify type hints by using the alias
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

tests: add more test cases
  datasets/aineko-plugins-datasets-postgres/tests/test_postgres.py
Due: check-license

chore: run poetry lock again after rebase
  poetry.lock
Due: none

feat: turn AsyncPostgresDataset into sycnronous PostgresDataset
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/__init__.py
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
  datasets/aineko-plugins-datasets-postgres/tests/conftest.py
  datasets/aineko-plugins-datasets-postgres/tests/test_postgres.py
Due: check-license

chore: upgrade dependencies
  datasets/aineko-plugins-datasets-postgres/pyproject.toml
  poetry.lock
  pyproject.toml
Due: poetry-check

doc: update mkdocstring reference
  docs/datasets/postgres.md
Due: none

chore: add setup_test_mode (to implement)
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

feat: add DatasetCreationStatus return type to create method
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

chore: update test_mode description
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license
