Repository aineko-dev/aineko-plugins: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, poetry-check

check-license:
  name: Check License Snippet
  entry: python .internals/check_license.py
  language: python
  args:
  - --fix

poetry-check:
  name: Poetry check
  description: Validates the content of the pyproject.toml file and its consistency with the poetry.lock file.
  entry: poetry check
  language: system
  pass_filenames: false

fix: Comment out check-broken-links job in CircleCI config.yml
  .circleci/config.yml
Due: check-license

doc: add initial documentation structure (#2)
  .circleci/config.yml
  .gitignore
  Makefile
  docs/.styles/config/vocabularies/Aineko/accept.txt
  docs/.styles/config/vocabularies/Aineko/reject.txt
  docs/assets/favicon_green.svg
  docs/assets/favicon_white.svg
  docs/img/Slack-mark-RGB.png
  docs/img/github-mark.jpg
  docs/index.md
  docs/nodes/fastapi-server.md
  docs/nodes/http-poller.md
  docs/nodes/websocket-client.md
  docs/stylesheets/extra.css
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: check-license, poetry-check

fix: don't quiet poetry
  .circleci/config.yml
Due: check-license

fix: don't quiet poetry (#3)
  .circleci/config.yml
Due: check-license

Commented out aineko dependency in pyproject.toml
  poetry.lock
  pyproject.toml
Due: poetry-check

Commented out aineko dependency in pyproject.toml (#4)
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: update fingerprint
  .circleci/config.yml
Due: check-license

fix: update fingerprint (#5)
  .circleci/config.yml
Due: check-license

Remove mkdocs-click markdown extension
  mkdocs.yml
Due: check-license

Create index.html
  index.html
Due: none

Deployed 0ebfa98 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/sitemap.xml.gz
Due: none

doc: update the installation instructions
  docs/index.md
  docs/nodes/fastapi-server.md
  docs/nodes/http-poller.md
  docs/nodes/websocket-client.md
Due: none

doc: update the installation instructions (#7)
  docs/index.md
  docs/nodes/fastapi-server.md
  docs/nodes/http-poller.md
  docs/nodes/websocket-client.md
Due: none

Deployed 8f5423e to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/index.html
  dev/nodes/fastapi-server/index.html
  dev/nodes/http-poller/index.html
  dev/nodes/websocket-client/index.html
  dev/search/search_index.json
  dev/sitemap.xml.gz
Due: none

chore: update documentation link
  nodes/aineko-plugins-nodes-fastapi-server/README.md
  nodes/aineko-plugins-nodes-fastapi-server/pyproject.toml
  nodes/aineko-plugins-nodes-http-poller/README.md
  nodes/aineko-plugins-nodes-http-poller/pyproject.toml
  nodes/aineko-plugins-nodes-websocket-client/README.md
  nodes/aineko-plugins-nodes-websocket-client/pyproject.toml
  pyproject.toml
Due: poetry-check

chore: update aineko-plugins-xxx versions to 0.0.2
  nodes/aineko-plugins-nodes-fastapi-server/poetry.lock
  nodes/aineko-plugins-nodes-fastapi-server/pyproject.toml
  nodes/aineko-plugins-nodes-http-poller/poetry.lock
  nodes/aineko-plugins-nodes-http-poller/pyproject.toml
  nodes/aineko-plugins-nodes-websocket-client/poetry.lock
  nodes/aineko-plugins-nodes-websocket-client/pyproject.toml
  poetry.lock
  pyproject.toml
Due: poetry-check

chore: publish new aineko-plugin versions (#8)
  nodes/aineko-plugins-nodes-fastapi-server/README.md
  nodes/aineko-plugins-nodes-fastapi-server/poetry.lock
  nodes/aineko-plugins-nodes-fastapi-server/pyproject.toml
  nodes/aineko-plugins-nodes-http-poller/README.md
  nodes/aineko-plugins-nodes-http-poller/poetry.lock
  nodes/aineko-plugins-nodes-http-poller/pyproject.toml
  nodes/aineko-plugins-nodes-websocket-client/README.md
  nodes/aineko-plugins-nodes-websocket-client/poetry.lock
  nodes/aineko-plugins-nodes-websocket-client/pyproject.toml
  poetry.lock
  pyproject.toml
Due: poetry-check

Deployed f32467a to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/sitemap.xml.gz
Due: none

fix(docs): update the plugin names in install instructions
  docs/index.md
  docs/nodes/fastapi-server.md
  docs/nodes/http-poller.md
  docs/nodes/websocket-client.md
Due: none

fix(docs): update the plugin names in install instructions (#9)
  docs/index.md
  docs/nodes/fastapi-server.md
  docs/nodes/http-poller.md
  docs/nodes/websocket-client.md
Due: none

Deployed d5c09b5 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/index.html
  dev/nodes/fastapi-server/index.html
  dev/nodes/http-poller/index.html
  dev/nodes/websocket-client/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

refactor : update CircleCI configuration
  .circleci/config.yml
Due: check-license

chore: add code coverage for aineko_plugins in test command
  Makefile
Due: none

chore: add fixed pylint makefile command
  Makefile
Due: none

chore: enable aineko_style.checker plugin in pyproject.toml
  pyproject.toml
Due: poetry-check

chore: add ignore rule for docs/.styles in yamllint.yaml
  yamllint.yaml
Due: none

chore: update dev tools & scripts (#15)
  .circleci/config.yml
  Makefile
  pyproject.toml
  yamllint.yaml
Due: check-license, poetry-check

Deployed 2e7d0fb to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

refactor: execute_query method to optimally use the connection pool
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

refactor: simplify type hints by using the alias
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

refactor: make some args internal
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

doc: document entry/exit point
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

fix: update missing parts after rebase
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

refactor: rename postgres dataset
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
  datasets/aineko-plugins-datasets-postgres/tests/postgres.py
Due: check-license

chore: add test dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

refactor: add top level import
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/__init__.py
Due: check-license

Path conditions:
  check-license: any of: \.(py|yml|yaml)$, but not: .pre-commit-config.yaml|yamllint.yaml
  poetry-check: any of: pyproject.toml
