Repository aineko-dev/aineko-plugins: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, poetry-check

check-license:
  name: Check License Snippet
  entry: python .internals/check_license.py
  language: python
  args:
  - --fix

poetry-check:
  name: Poetry check
  description: Validates the content of the pyproject.toml file and its consistency with the poetry.lock file.
  entry: poetry check
  language: system
  pass_filenames: false

chore: add aineko-plugins-datasets-postgres package configuration
  datasets/aineko-plugins-datasets-postgres/README.md
  datasets/aineko-plugins-datasets-postgres/pyproject.toml
Due: poetry-check

refactor: query param can be bytes, so make f-str byte safe
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

tests: create repeatable tests with a dockerized db
  datasets/aineko-plugins-datasets-postgres/tests/conftest.py
  datasets/aineko-plugins-datasets-postgres/tests/test_postgres.py
Due: check-license

refactor: turn class into an async context manager
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

chore: minor type hints
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

chore: add postgres & boto dependencies
  datasets/aineko-plugins-datasets-postgres/pyproject.toml
  poetry.lock
  pyproject.toml
Due: poetry-check

chore: rename test file for pytest
  datasets/aineko-plugins-datasets-postgres/tests/test_postgres.py
Due: check-license

chore: install plugin as editable
  poetry.lock
  pyproject.toml
Due: poetry-check

feat: properly implement write method
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

refactor: properly type hint exists method
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

chore: test CI process with branch/git aineko
  datasets/aineko-plugins-datasets-postgres/pyproject.toml
  poetry.lock
Due: poetry-check

feat: create and delete methods
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/__init__.py
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
  datasets/aineko-plugins-datasets-postgres/tests/postgres.py
Due: check-license

tests: add more test cases
  datasets/aineko-plugins-datasets-postgres/tests/test_postgres.py
Due: check-license

tests: update test cases
  datasets/aineko-plugins-datasets-postgres/tests/postgres.py
Due: check-license

doc: add mkdocs entry and update docstrings
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/__init__.py
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
  docs/datasets/postgres.md
  mkdocs.yml
Due: check-license

refactor: turn postgres dataset into async dataset
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
  datasets/aineko-plugins-datasets-postgres/tests/postgres.py
Due: check-license

chore: remove unused import
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

refactor: exists() method to use execute_query
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

feat: properly implement read method
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

refactor: type hint AWSDatasetHelper
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

chore: update aineko_style dependency version to 0.0.2
  poetry.lock
  pyproject.toml
Due: poetry-check

feat: upgrade aineko-plugins-nodes-fastapi-server to Aineko 0.4
  nodes/aineko-plugins-nodes-fastapi-server/aineko_plugins/nodes/fastapi_server/__init__.py
  nodes/aineko-plugins-nodes-fastapi-server/aineko_plugins/nodes/fastapi_server/main.py
  nodes/aineko-plugins-nodes-fastapi-server/poetry.lock
  nodes/aineko-plugins-nodes-fastapi-server/pyproject.toml
  nodes/aineko-plugins-nodes-fastapi-server/tests/main.py
  nodes/aineko-plugins-nodes-fastapi-server/tests/test_fastapi.py
  nodes/aineko-plugins-nodes-fastapi-server/tests/test_fastapi.yml
  poetry.lock
  pyproject.toml
Due: check-license, poetry-check

feat: upgrade aineko-plugins-nodes-http-poller to Aineko 0.4
  nodes/aineko-plugins-nodes-http-poller/aineko_plugins/nodes/http_poller/http_poller.py
  nodes/aineko-plugins-nodes-http-poller/poetry.lock
  nodes/aineko-plugins-nodes-http-poller/pyproject.toml
  nodes/aineko-plugins-nodes-http-poller/tests/test_http_poller.py
  nodes/aineko-plugins-nodes-http-poller/tests/test_http_poller.yml
  poetry.lock
  pyproject.toml
Due: check-license, poetry-check

feat: upgrade aineko-plugins-nodes-websocket-client to Aineko 0.4
  nodes/aineko-plugins-nodes-websocket-client/aineko_plugins/nodes/websocket_client/websocket_client.py
  nodes/aineko-plugins-nodes-websocket-client/poetry.lock
  nodes/aineko-plugins-nodes-websocket-client/pyproject.toml
  nodes/aineko-plugins-nodes-websocket-client/tests/test_websocket_client.py
  nodes/aineko-plugins-nodes-websocket-client/tests/test_websocket_client.yml
  poetry.lock
  pyproject.toml
Due: check-license, poetry-check

chore: bump cryptography dependency due to dependabot alert
  nodes/aineko-plugins-nodes-fastapi-server/poetry.lock
  nodes/aineko-plugins-nodes-http-poller/poetry.lock
  nodes/aineko-plugins-nodes-websocket-client/poetry.lock
  poetry.lock
Due: none

feat: upgrade aineko-plugins-nodes-xxx to Aineko 0.4 (#16)
  nodes/aineko-plugins-nodes-fastapi-server/aineko_plugins/nodes/fastapi_server/__init__.py
  nodes/aineko-plugins-nodes-fastapi-server/aineko_plugins/nodes/fastapi_server/main.py
  nodes/aineko-plugins-nodes-fastapi-server/poetry.lock
  nodes/aineko-plugins-nodes-fastapi-server/pyproject.toml
  nodes/aineko-plugins-nodes-fastapi-server/tests/main.py
  nodes/aineko-plugins-nodes-fastapi-server/tests/test_fastapi.py
  nodes/aineko-plugins-nodes-fastapi-server/tests/test_fastapi.yml
  nodes/aineko-plugins-nodes-http-poller/aineko_plugins/nodes/http_poller/http_poller.py
  nodes/aineko-plugins-nodes-http-poller/poetry.lock
  nodes/aineko-plugins-nodes-http-poller/pyproject.toml
  nodes/aineko-plugins-nodes-http-poller/tests/test_http_poller.py
  nodes/aineko-plugins-nodes-http-poller/tests/test_http_poller.yml
  nodes/aineko-plugins-nodes-websocket-client/aineko_plugins/nodes/websocket_client/websocket_client.py
  nodes/aineko-plugins-nodes-websocket-client/poetry.lock
  nodes/aineko-plugins-nodes-websocket-client/pyproject.toml
  nodes/aineko-plugins-nodes-websocket-client/tests/test_websocket_client.py
  nodes/aineko-plugins-nodes-websocket-client/tests/test_websocket_client.yml
  poetry.lock
  pyproject.toml
Due: check-license, poetry-check

Deployed 49d0647 to dev with MkDocs 1.5.3 and mike 2.0.0
  dev/nodes/fastapi-server/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
Due: none

WIP: implement basic ray queue dataset
  datasets/aineko-plugins-datasets-ray/README.md
  datasets/aineko-plugins-datasets-ray/aineko_plugins/datasets/ray/__init__.py
  datasets/aineko-plugins-datasets-ray/aineko_plugins/datasets/ray/main.py
  datasets/aineko-plugins-datasets-ray/poetry.lock
  datasets/aineko-plugins-datasets-ray/pyproject.toml
Due: check-license, poetry-check

fix: use different Aineko branch where ray init is done before dataset creation
  poetry.lock
  pyproject.toml
Due: poetry-check

WIP: node & config for manual testing
  datasets/aineko-plugins-datasets-ray/aineko_plugins/datasets/ray/nodes.py
  datasets/aineko-plugins-datasets-ray/tests/pipeline.yml
Due: check-license

refactor: add top level import
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/__init__.py
Due: check-license

refactor: make some args internal
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
Due: check-license

refactor: rename postgres dataset
  datasets/aineko-plugins-datasets-postgres/aineko_plugins/datasets/postgres/postgres.py
  datasets/aineko-plugins-datasets-postgres/tests/postgres.py
Due: check-license

Path conditions:
  check-license: any of: \.(py|yml|yaml)$, but not: .pre-commit-config.yaml|yamllint.yaml
  poetry-check: any of: pyproject.toml
