Repository aineko-dev/aineko-plugins: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, poetry-check

check-license:
  name: Check License Snippet
  entry: python .internals/check_license.py
  language: python
  args:
  - --fix

poetry-check:
  name: Poetry check
  description: Validates the content of the pyproject.toml file and its consistency with the poetry.lock file.
  entry: poetry check
  language: system
  pass_filenames: false

feat: add Aineko FastAPI server plugin
  aineko-plugins-fastapi-server/README.md
  aineko-plugins-fastapi-server/aineko_plugins/nodes/fastapi_server/__init__.py
  aineko-plugins-fastapi-server/aineko_plugins/nodes/fastapi_server/health.py
  aineko-plugins-fastapi-server/aineko_plugins/nodes/fastapi_server/main.py
  aineko-plugins-fastapi-server/aineko_plugins/nodes/fastapi_server/py.typed
  aineko-plugins-fastapi-server/pyproject.toml
Due: check-license, poetry-check

feat: add Aineko websocket client plugin
  aineko-plugins-websocket-client/README.md
  aineko-plugins-websocket-client/aineko_plugins/nodes/websocket_client/__init__.py
  aineko-plugins-websocket-client/aineko_plugins/nodes/websocket_client/py.typed
  aineko-plugins-websocket-client/aineko_plugins/nodes/websocket_client/websocket_client.py
  aineko-plugins-websocket-client/pyproject.toml
Due: check-license, poetry-check

chore: remove obsolete fixtures
  aineko-plugins-fastapi-server/tests/conftest.py
Due: check-license

tests: add websocket-client test cases
  aineko-plugins-websocket-client/tests/conftest.py
  aineko-plugins-websocket-client/tests/test_websocket_client.py
  aineko-plugins-websocket-client/tests/test_websocket_client.yml
Due: check-license

tests: add fastapi-server test cases
  aineko-plugins-fastapi-server/tests/__init__.py
  aineko-plugins-fastapi-server/tests/main.py
  aineko-plugins-fastapi-server/tests/test_fastapi.py
  aineko-plugins-fastapi-server/tests/test_fastapi.yml
Due: check-license

fix(tests): move fixtures to sub project level
  aineko-plugins-fastapi-server/tests/conftest.py
Due: check-license

chore: add basic makefile
  Makefile
Due: none

tests: add shared fixtures in root dir
  tests/conftest.py
Due: check-license

chore(ci): add .circleci config
  .circleci/config.yml
Due: check-license

chore: add aineko-plugins-* to main pyproject
  poetry.lock
  pyproject.toml
Due: poetry-check

feat: add Aineko HTTP Poller plugin
  aineko-plugins-http-poller/README.md
  aineko-plugins-http-poller/aineko_plugins/nodes/http_poller/__init__.py
  aineko-plugins-http-poller/aineko_plugins/nodes/http_poller/http_poller.py
  aineko-plugins-http-poller/aineko_plugins/nodes/http_poller/py.typed
  aineko-plugins-http-poller/pyproject.toml
Due: check-license, poetry-check

tests: add http-poller test cases
  aineko-plugins-http-poller/tests/conftest.py
  aineko-plugins-http-poller/tests/test_http_poller.py
  aineko-plugins-http-poller/tests/test_http_poller.yml
  aineko-plugins-http-poller/tests/test_http_server.py
Due: check-license

chore: add aineko-plugins-http-poller to main pyproject
  poetry.lock
  pyproject.toml
Due: poetry-check

fix(makefile): move commented block to end of command
  Makefile
Due: none

chore: update dev tooling settings
  pyproject.toml
  yamllint.yaml
Due: poetry-check

chore: Update pydocstyle dependency to include toml extras
  poetry.lock
  pyproject.toml
Due: poetry-check

doc: update plugin descriptions
  aineko-plugins-fastapi-server/aineko_plugins/nodes/fastapi_server/__init__.py
  aineko-plugins-fastapi-server/pyproject.toml
  aineko-plugins-http-poller/aineko_plugins/nodes/http_poller/__init__.py
  aineko-plugins-http-poller/pyproject.toml
  aineko-plugins-websocket-client/aineko_plugins/nodes/websocket_client/__init__.py
  aineko-plugins-websocket-client/pyproject.toml
Due: check-license, poetry-check

doc: update module docstrings
  aineko-plugins-fastapi-server/aineko_plugins/nodes/fastapi_server/main.py
  aineko-plugins-http-poller/aineko_plugins/nodes/http_poller/http_poller.py
  aineko-plugins-websocket-client/aineko_plugins/nodes/websocket_client/websocket_client.py
Due: check-license

chore: update aineko dependency version to 0.3.0
  aineko-plugins-fastapi-server/pyproject.toml
  aineko-plugins-http-poller/pyproject.toml
  aineko-plugins-websocket-client/pyproject.toml
Due: poetry-check

chore: Update fastapi version in pyproject.toml
  aineko-plugins-fastapi-server/pyproject.toml
Due: poetry-check

chore: poetry lock update
  poetry.lock
Due: none

chore: remove obsolete dev dependencies
  aineko-plugins-fastapi-server/pyproject.toml
  aineko-plugins-http-poller/pyproject.toml
  aineko-plugins-websocket-client/pyproject.toml
Due: poetry-check

chore: bump fastapi version
  aineko-plugins-fastapi-server/pyproject.toml
Due: poetry-check

chore: add test command to Makefile
  Makefile
Due: none

doc: add plugin readme
  README.md
  aineko-plugins-fastapi-server/README.md
  aineko-plugins-http-poller/README.md
  aineko-plugins-websocket-client/README.md
Due: none

chore: add poetry lock files
  aineko-plugins-fastapi-server/poetry.lock
  aineko-plugins-http-poller/poetry.lock
  aineko-plugins-websocket-client/poetry.lock
Due: none

chore: add licences
  aineko-plugins-fastapi-server/LICENSE
  aineko-plugins-http-poller/LICENSE
  aineko-plugins-websocket-client/LICENSE
Due: none

chore: rename plugins
  aineko-plugins-nodes-fastapi-server/LICENSE
  aineko-plugins-nodes-fastapi-server/README.md
  aineko-plugins-nodes-fastapi-server/aineko_plugins/nodes/fastapi_server/__init__.py
  aineko-plugins-nodes-fastapi-server/aineko_plugins/nodes/fastapi_server/health.py
  aineko-plugins-nodes-fastapi-server/aineko_plugins/nodes/fastapi_server/main.py
  aineko-plugins-nodes-fastapi-server/aineko_plugins/nodes/fastapi_server/py.typed
  aineko-plugins-nodes-fastapi-server/poetry.lock
  aineko-plugins-nodes-fastapi-server/pyproject.toml
  aineko-plugins-nodes-fastapi-server/tests/__init__.py
  aineko-plugins-nodes-fastapi-server/tests/conftest.py
  aineko-plugins-nodes-fastapi-server/tests/main.py
  aineko-plugins-nodes-fastapi-server/tests/test_fastapi.py
  aineko-plugins-nodes-fastapi-server/tests/test_fastapi.yml
  aineko-plugins-nodes-http-poller/LICENSE
  aineko-plugins-nodes-http-poller/README.md
  aineko-plugins-nodes-http-poller/aineko_plugins/nodes/http_poller/__init__.py
  aineko-plugins-nodes-http-poller/aineko_plugins/nodes/http_poller/http_poller.py
  aineko-plugins-nodes-http-poller/aineko_plugins/nodes/http_poller/py.typed
  aineko-plugins-nodes-http-poller/poetry.lock
  aineko-plugins-nodes-http-poller/pyproject.toml
  aineko-plugins-nodes-http-poller/tests/conftest.py
  aineko-plugins-nodes-http-poller/tests/test_http_poller.py
  aineko-plugins-nodes-http-poller/tests/test_http_poller.yml
  aineko-plugins-nodes-http-poller/tests/test_http_server.py
  aineko-plugins-nodes-websocket-client/LICENSE
  aineko-plugins-nodes-websocket-client/README.md
  aineko-plugins-nodes-websocket-client/aineko_plugins/nodes/websocket_client/__init__.py
  aineko-plugins-nodes-websocket-client/aineko_plugins/nodes/websocket_client/py.typed
  aineko-plugins-nodes-websocket-client/aineko_plugins/nodes/websocket_client/websocket_client.py
  aineko-plugins-nodes-websocket-client/poetry.lock
  aineko-plugins-nodes-websocket-client/pyproject.toml
  aineko-plugins-nodes-websocket-client/tests/conftest.py
  aineko-plugins-nodes-websocket-client/tests/test_websocket_client.py
  aineko-plugins-nodes-websocket-client/tests/test_websocket_client.yml
  poetry.lock
  pyproject.toml
Due: check-license, poetry-check

doc: update docstrings
  aineko-plugins-nodes-fastapi-server/aineko_plugins/nodes/fastapi_server/health.py
  aineko-plugins-nodes-fastapi-server/aineko_plugins/nodes/fastapi_server/main.py
  aineko-plugins-nodes-http-poller/aineko_plugins/nodes/http_poller/http_poller.py
  aineko-plugins-nodes-websocket-client/aineko_plugins/nodes/websocket_client/websocket_client.py
Due: check-license

chore: add a top-level directory to organize plugins by type
  nodes/aineko-plugins-nodes-fastapi-server/LICENSE
  nodes/aineko-plugins-nodes-fastapi-server/README.md
  nodes/aineko-plugins-nodes-fastapi-server/aineko_plugins/nodes/fastapi_server/__init__.py
  nodes/aineko-plugins-nodes-fastapi-server/aineko_plugins/nodes/fastapi_server/health.py
  nodes/aineko-plugins-nodes-fastapi-server/aineko_plugins/nodes/fastapi_server/main.py
  nodes/aineko-plugins-nodes-fastapi-server/aineko_plugins/nodes/fastapi_server/py.typed
  nodes/aineko-plugins-nodes-fastapi-server/poetry.lock
  nodes/aineko-plugins-nodes-fastapi-server/pyproject.toml
  nodes/aineko-plugins-nodes-fastapi-server/tests/__init__.py
  nodes/aineko-plugins-nodes-fastapi-server/tests/conftest.py
  nodes/aineko-plugins-nodes-fastapi-server/tests/main.py
  nodes/aineko-plugins-nodes-fastapi-server/tests/test_fastapi.py
  nodes/aineko-plugins-nodes-fastapi-server/tests/test_fastapi.yml
  nodes/aineko-plugins-nodes-http-poller/LICENSE
  nodes/aineko-plugins-nodes-http-poller/README.md
  nodes/aineko-plugins-nodes-http-poller/aineko_plugins/nodes/http_poller/__init__.py
  nodes/aineko-plugins-nodes-http-poller/aineko_plugins/nodes/http_poller/http_poller.py
  nodes/aineko-plugins-nodes-http-poller/aineko_plugins/nodes/http_poller/py.typed
  nodes/aineko-plugins-nodes-http-poller/poetry.lock
  nodes/aineko-plugins-nodes-http-poller/pyproject.toml
  nodes/aineko-plugins-nodes-http-poller/tests/conftest.py
  nodes/aineko-plugins-nodes-http-poller/tests/test_http_poller.py
  nodes/aineko-plugins-nodes-http-poller/tests/test_http_poller.yml
  nodes/aineko-plugins-nodes-http-poller/tests/test_http_server.py
  nodes/aineko-plugins-nodes-websocket-client/LICENSE
  nodes/aineko-plugins-nodes-websocket-client/README.md
  nodes/aineko-plugins-nodes-websocket-client/aineko_plugins/nodes/websocket_client/__init__.py
  nodes/aineko-plugins-nodes-websocket-client/aineko_plugins/nodes/websocket_client/py.typed
  nodes/aineko-plugins-nodes-websocket-client/aineko_plugins/nodes/websocket_client/websocket_client.py
  nodes/aineko-plugins-nodes-websocket-client/poetry.lock
  nodes/aineko-plugins-nodes-websocket-client/pyproject.toml
  nodes/aineko-plugins-nodes-websocket-client/tests/conftest.py
  nodes/aineko-plugins-nodes-websocket-client/tests/test_websocket_client.py
  nodes/aineko-plugins-nodes-websocket-client/tests/test_websocket_client.yml
  poetry.lock
  pyproject.toml
Due: check-license, poetry-check

chore: update plugins pyproject
  nodes/aineko-plugins-nodes-fastapi-server/README.md
  nodes/aineko-plugins-nodes-fastapi-server/pyproject.toml
  nodes/aineko-plugins-nodes-http-poller/README.md
  nodes/aineko-plugins-nodes-http-poller/aineko_plugins/nodes/http_poller/__init__.py
  nodes/aineko-plugins-nodes-http-poller/aineko_plugins/nodes/http_poller/http_poller.py
  nodes/aineko-plugins-nodes-http-poller/pyproject.toml
  nodes/aineko-plugins-nodes-websocket-client/README.md
  nodes/aineko-plugins-nodes-websocket-client/pyproject.toml
Due: check-license, poetry-check

chore: bump aineko version
  nodes/aineko-plugins-nodes-fastapi-server/poetry.lock
  nodes/aineko-plugins-nodes-fastapi-server/pyproject.toml
  nodes/aineko-plugins-nodes-http-poller/poetry.lock
  nodes/aineko-plugins-nodes-http-poller/pyproject.toml
  nodes/aineko-plugins-nodes-websocket-client/poetry.lock
  nodes/aineko-plugins-nodes-websocket-client/pyproject.toml
  poetry.lock
Due: poetry-check

chore: fix small typo
  nodes/aineko-plugins-nodes-fastapi-server/pyproject.toml
  poetry.lock
Due: poetry-check

chore: fix small typo (#1)
  nodes/aineko-plugins-nodes-fastapi-server/pyproject.toml
  poetry.lock
Due: poetry-check

chore: add dependencies for docs
  poetry.lock
  pyproject.toml
Due: poetry-check

chore: add mkdocs.yml configuration file
  mkdocs.yml
Due: check-license

chore: update makefile
  Makefile
Due: none

doc: add initial documentation
  .gitignore
  docs/.styles/config/vocabularies/Aineko/accept.txt
  docs/.styles/config/vocabularies/Aineko/reject.txt
  docs/assets/favicon_green.svg
  docs/assets/favicon_white.svg
  docs/img/Slack-mark-RGB.png
  docs/img/github-mark.jpg
  docs/index.md
  docs/nodes/fastapi-server.md
  docs/nodes/http-poller.md
  docs/nodes/websocket-client.md
  docs/stylesheets/extra.css
Due: none

chore: add publish-docs workflow and related jobs
  .circleci/config.yml
Due: check-license

chore: add mkdocs var
  .circleci/config.yml
Due: check-license

Path conditions:
  check-license: any of: \.(py|yml|yaml)$, but not: .pre-commit-config.yaml|yamllint.yaml
  poetry-check: any of: pyproject.toml
